.article {
  &__title {
    margin-bottom: 1rem;

    font-family: $heading-font;
    font-size: clamp(2.4rem, 3vw, 4rem);

    color: var(--sec-color);

    text-align: center;
  }

  &__body {
    font-family: $body-font;

    color: var(--sec-color);

    h3 {
      margin-bottom: 1rem;

      font-size: clamp(2rem, 2.5vw, 3rem);
    }

    p {
      margin-bottom: 1rem;

      font-size: clamp(1.4rem, 1.5vw, 1.8rem);
    }
  }
}
