.post-meta {
  margin-bottom: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $body-font;
  font-size: clamp(1.2rem, 1.4vw, 1.8rem);

  color: var(--highlight-color);

  &__separator {
    margin: 0 0.5rem;
    font-size: clamp(0.5rem, 0.3vw, 1rem);
  }
}
