.about {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__greeting {
    flex: 1 0 50%;

    font-family: $logo-font;
    font-size: clamp(7.2rem, 20vw, 22rem);

    text-align: center;
  }

  &__details {
    &--info {
      margin: 3rem 0 2rem 0;
      font-size: clamp(1.6rem, 1.8vw, 2rem);

      p {
        margin-bottom: 1rem;
      }
    }

    &--socials {
      width: 50%;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media all and (min-width: 1280px) {
  .about__details--info {
    max-width: 85%;
  }
}

@media all and (min-width: 1440px) {
  .about__details--info {
    max-width: 70%;
  }
}

@media all and (max-width: 768px) {
  .about {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__details {
      &--info {
        max-width: 100%;
      }
    }
  }
}
