.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__message {
    margin-bottom: 2rem;

    font-size: clamp(1.6rem, 1.8vw, 2rem);

    text-align: center;
  }

  &__heading {
    @extend .thank-you__message;

    font-family: $heading-font;
    font-size: clamp(2.4rem, 3vw, 3.8rem);
  }

  &__link {
    border: 0.1rem solid var(--sec-color);
    margin-top: 3rem;
    padding: 0.3rem 1rem;

    background: none;
    color: var(--sec-color);

    font-family: $body-font;
    font-size: clamp(1.4rem, 1.8vw, 2.2rem);

    cursor: pointer;
  }
}
